<% layout('layouts/app') %>

<div class="row">
    <h1 class="text-center">Register</h1>
    <div class="col-6 offset-3">
        <form action="/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>