<% layout('layouts/app') %>

<h1>Add Place</h1>
<form action="/places" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="place[title]" id="title">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="place[location]" id="location">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="text" name="place[price]" id="price">
    </div>
    <button type="submit">Save
        
    </button>
</form>