<% layout('layouts/app') %>

<h1>Places</h1>
<a href="/places/create">Add Place</a>
<ul>
    <% for(const place of places) { %>
        <li> <a href="/places/<%= place._id %>">  <%= place.title %> </a></li>
    <% } %>
</ul>